.h2 {
  margin: 50px auto;
  font-size: 40px;
  text-align: center;
}

.wrapper-content {
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.box-content {
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid salmon;
}

.photo {
  width: 74px;
  height: 74px;
}
