.h2 {
  margin: 50px auto;
  font-size: 40px;
  text-align: center;
  z-index: 1;
}

.wrapper-content {
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  z-index: 3;
}

.box-content {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 10px 5px 10px #000;
}

.photo {
  width: 74px;
  height: 74px;
}
