.main {
  margin: auto;
  max-width: 1200px;
  background-color: #d2e5ff;
}

.h2 {
  font-size: 2rem;
  text-align: center;
  color: #333;
}

.about-content {
  margin-bottom: 100px;
  border-bottom: 1px solid #333;
  height: 100vh;
  position: relative;
}

.button {
  width: 150px;
  height: 50px;
  position: absolute;
  right: 20%;
  top: 20%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #093a9a86;
  color: #f5deb3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.5s ease-in, background-color 0.5s ease-in;
}

.button:hover {
  scale: 1.1;
  background-color: #1550c586;
}

.img1 {
  position: absolute;
  left: 10%;
  width: 250px;
  height: 300px;
}

.paragraph {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 20px;
}

.img2 {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 200px;
  height: 350px;
}
