.main {
  height: 100vh;
}

.content-about {
  height: 100%;
  margin: auto;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #c9c9c9;
  border-radius: 30px;
  letter-spacing: 2px;
}

.picuture-logo {
  width: 250px;
  height: 200px;
  border: 1px solid #5c5c5c;
  border-radius: 20px;
}

.paragraph {
  text-align: center;
  line-height: 25px;
}
