:root {
    --nav-bg-color: #ffffff;
    --link-color: #007bff;
    --link-shadow-color: #fff;
    --link-hover-color: #193e8e;
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-mode {
    --nav-bg-color: #333;
    --link-color: #ffa500;
    --link-shadow-color: #333;
    --link-hover-color: #ff8c00;
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  