.body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: black;
}
