#footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.container-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.link {
  color: #fff;
}