.nav {
  width: 550px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  color: #007bff;
  text-shadow: -1px -1px 10px #fff;
}

.nav a:hover {
  color: #193e8e;
  transition: color 0.5s ease-in;
}