.nav {
  max-width: 1400px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #3333;
}

.nav-logo {
  width: 35px;
  height: 35px;
  transition: scale 0.4s ease-in;
}

.nav-logo:hover {
  scale: 0.9;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  color: #007bff;
  text-shadow: -1px -1px 10px #fff;
}

.nav a:hover {
  color: #193e8e;
  transition: color 0.3s ease-in;
}

.btn-log-in {
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  color: #f5deb3;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-log-in:hover {
  background-color: #193e8e;
}
