.nav {
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212120;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  color: #ffe100;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.nav a:hover {
  color: #fff;
  transition: color 0.5s ease-in;
}
