#container {
  width: 100%;
  margin: auto;
}

.main-post {
  width: 750px;
  height: 550px;
  margin: auto;
  border: 1px solid #ff6347;
}

.main-post-link {
  border: 2px solid #c293ee;
}

.main-post-image {
  width: 700px;
  height: 500px;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-post-title {
  font-size: 32px;
  font-weight: bold;
}

.main-content-date {
  font-size: 25px;
  font-weight: bold;
}
